
.encode{
    padding: 10px;
}
.encode .form{

}
.encode .form .form_line{
    padding: 15px 0;
}
.encode .form .form_line label{
    display: inline-block;
    width: 80px;
}
.encode .form .form_line input{
    width: 300px;
    height: 40px;
    margin-left: 10px;
}
.encode .form .form_line textarea{
    width: 300px;
    height: 100px;
    margin-left: 10px;
}