
.generate{
    padding: 10px;
}
.generate .keyArea{
    margin-top: 30px;
    float: left;
    width: 50%;
}

.generate .keyArea label{
    display: block
}

.generate .keyArea textarea{
    min-width: 500px;
    min-height: 300px;
}